<span id="config-quickedit-replace">{{ inner }}</span>
{# Visually hidden link to trigger refreshless reload
@todo Create JS way to refresh page
#}
<a href="/" class="visually-hidden" id="config-quickedit-refresh">Refresh</a>
